/* Style for the side menu sliding in and out */
.transform {
    transform: translateX(-100%);
  }
  
  .translate-x-0 {
    transform: translateX(0);
  }
  
  .translate-x-full {
    transform: translateX(100%);
  }
  
  .transition-transform {
    transition: transform 0.3s ease-in-out;
  }
  

/* Dropdown Styling */
ul.absolute {
  display: none;
}

li.relative:hover ul.absolute {
  display: block;
}